<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>399190957894-j64dmg8facb0tkkuedjpog3313rr5r87.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.399190957894-j64dmg8facb0tkkuedjpog3313rr5r87</string>
	<key>API_KEY</key>
	<string>AIzaSyCOyLM4Q6epakPbqiwGPRdCgrWqe3lkqFo</string>
	<key>GCM_SENDER_ID</key>
	<string>399190957894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.akar.LoginForm</string>
	<key>PROJECT_ID</key>
	<string>quizzi-56f1a</string>
	<key>STORAGE_BUCKET</key>
	<string>quizzi-56f1a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:399190957894:ios:1e077c02c530e5ae58cf47</string>
</dict>
</plist>